// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


//Override Bootstrap Class
.modal-header {
    text-align: center;
}

.modal-title {
    width: 100%;
}

// My Custom CSS
.btn-icon-blue {
    color: white;
    background-color: $blue;
}

.btn-icon-blue:hover {
    color: $blue;
    background-color: white;
    border: 1px solid $blue;
}

.btn-icon-green {
    color: white;
    background-color: $green;
}

.btn-icon-green:hover {
    color: $green;
    background-color: white;
    border: 1px solid $green;
}

.btn-icon-purple {
    color: white;
    background-color: purple;
}

.btn-icon-purple:hover {
    color: purple;
    background-color: white;
    border: 1px solid purple;
}

.btn-float {
    color: white;
    background-color: $blue;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 3rem;
    border: none;
    padding: 0.75rem;
    box-shadow: black 0 0 3px 0;
}

.btn-float:hover {
    background-color: darken($color: $blue, $amount: 10%);
}